.main-box {
  display:flex;
  flex-direction:column;
  background-color:#2e4057;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  max-width: 450px;
}
.MainLogo {
  width:170px;
  height:100px;
}
.h1, hr {
  margin-left: auto;
  margin-right: auto;
}

