.header {
  display:flex;
  flex-direction:row;
  background-color:#2e4057;
  border-radius: 0px 0px 20px 20px;
  margin-top: -8px;
}
.name {
    font-family: "Stack Sans Headline";
    font-size: 30px;
    margin-left: -10px;
    margin-top: auto;
    margin-bottom: auto;
}
.link {
    font-family: "Stack Sans Headline";
    font-size: 20px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: inherit;
    text-decoration: none; 

}