.analytics {
  display:flex;
  flex-direction:column;
  background-color:#2e4057;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 40vw;
  margin-left: 2vw;
  max-width: 550px;
}

h1{
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -0.2vh;
}
.analytics-user-card{
    display:flex;
}
.analytics-user-card-info{
    margin-right: 1vw;
}
p {
    font-family: "Gelasio";
    margin-left: 3px;
}
.pfp {
  width: 158px;
  height: 188px;
  border-radius: 60px; 
  margin-left: -1vw;
  margin-top: 0.5vh;
}

h2{
    font-family: "Mozilla Text";
    margin-left: 3%;
}